h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

main {
  text-align: justify;
}

blockquote {
  font-style: italic;
  border-left: 6px solid #c1c0bd;
  padding-left: 12px;
}

hr {
  margin: 4em;
}

form {
  text-align: center;
  margin-bottom: 4em;
}

form > * {
  display: inline-block;
}

input[type="number"] {
  width: 100px;
  text-align: center;
}

th, td {
  text-align: center !important;
}

span.badge {
  letter-spacing: 0.2rem;
}

#table table {
  display: block;
  overflow-x: auto;
}

#table > form {
  margin-top: 1em;
}
